<style>
    body{
        list-style: none;
        background-color: #2b2b2b;
    }
</style>

{{#stories}}
    <li><a href="{{url}}" style="font-family: 'Courier New',serif; color: lightgray; text-decoration: none">> {{title}}</li>
{{/stories}}
