<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    body{
        list-style: none;
        font-size: 14px;
    }
    li {
        padding-bottom: 10px;
    }
</style>

<h3>Original text</h3>
{{#originalText}}
    <li>{{.}}</li>
{{/originalText}}
<h3>punctuated text</h3>
{{#punctuatedText}}
    <li>{{.}}</li>
{{/punctuatedText}}